/* 
    Document   : tableform
    Created on : May 16, 2016, 10:18:43 AM
    Author     : raji adedolapo
    Description:
        Purpose of the stylesheet follows.
*/

body{
    width: 100%;
    font-size: 12px;
    background-color: green;
    overflow-x: hidden;
}
.container{
    width: 70%;
    background-color: greenyellow;
    margin: auto;
    padding: 1%;
}

table{
    width: 100%;
}
select,input{
    width: 100%;
    height: 45px;
    font-size: 14px;
}
.radioinput,.checkboxinput{
    width: auto;
    height: auto;
}
label{
    font-size:16px;
    font-weight: 900;
    height: 45px;
}
textarea{
    resize: none;
    width: 100%;
    margin: auto;    
}
.btn-clear{
   text-align: center; 
}
.btn-submit{
   text-align: center; 
}
button{
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    border-width: 2px;
    width: 50%;
}

.abtu{
   position: relative;
   top: 0px;
}
.inputfile{
    height: 30px;   
    margin: auto;
}
/*.filediv{
    margin: auto;
    vertical-align: bottom;
}*/
.imagediv{
    width: 125px; 
    margin: auto;
    margin-top: 10px;
}
.image{
    width: 120px;
    height: 120px;
    border: solid #eee 2px;
    margin: auto;
}
